
<div class="todo-form">
  <form name="todoNewtask" ng-submit="$ctrl.onSubmit();">
    <input placeholder="Enter new task" type="text" ng-model="$ctrl.todo.title">
    <button type="submit">Create Task</button>
  </form>
</div>
