
 form {
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  border: none;
  outline: none;
  margin-bottom: 30px;
     
  input {
    width: 350px;
    height: 60px;
    background-color: white;
    height: inherit;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
  }
  input:hover {
    background-color: bisque;
  }
  input:focus {
    background-color: bisque;
    box-shadow: inset 0 0 1em gold;
  }

  button {
    width: 150px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    
  }

  button:hover {
    background-color: greenyellow;
    box-shadow: inset 0 0 1em green;
  }
}


