
<div id="todoMain">
  <h1>Todo App</h1>
  <todo-newtask todo="$ctrl.newTodo" on-add-todo="$ctrl.addTodo($event);">
  </todo-newtask>
   <todo-remain remain="$ctrl.remaining()"></todo-remain>
   <todo-list
    todos="$ctrl.todos" on-remove-todo="$ctrl.removeTodo($event)">
  </todo-list> 
  <todo-archive todos="$ctrl.todos" on-archive-todos="$ctrl.archiveTodos($event)"></todo-archive>
 
</div>
