
<div class="todo-list">
 
  <ul>
    <li ng-repeat="todo in $ctrl.todos  | filter:$ctrl.filterTask">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.title}}</span>
      <a href="" ng-click="$ctrl.onRemove($index);">delete</a>
    </li>
  </ul>
   <div class="searcher">
    <input type="text" placeholder="search" ng-model="$ctrl.filterTask">
  </div>
</div>
