.todo-list {
  text-align: center;

  ul {
    margin: 10px auto;
    padding: 0;
    width: 500px;
    
    li {
      list-style-type: none;
      margin: 10px;

      span {
        display: inline-block;
        width: 200px;        
      }

      a {
        display: inline-block;
        padding: 0 15px;
        color: green;
        text-decoration: none;
      }
    }
  }
}

.searcher input {
  width: 300px;
  font-size: 18px;
  height: 50px;
  background-color: white;
  height: inherit;
  position: relative;
  right: 150px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  border: 1px solid grey;
  outline: none;
  margin-top: 15px;
}
.searcher input:hover{
        background-color: lightcyan;
    }
.searcher input:focus{
        background-color: lightcyan;
    }

.done-true {
  color: gray;
  text-decoration: line-through;
}



