.archive a{
    position: relative;
    top: -25px;
    left: 380px;
    text-decoration: none;
    color: darkmagenta;
    font-size: 20px;
    font-weight: 500;    
}
.archive a:hover{
    color: darkgoldenrod;
    font-size: 22px;
}